@* login Template File *@
@()(implicit request: RequestHeader, flash: Flash)


@main("login") {
    <head>
        <link rel="stylesheet" type="text/css" href="../../public/stylesheets/main.css" />
    </head>

    <section>
        <h1 class="text-font" style="font-size: 100px; margin-bottom: 10px; color: white; font-weight: 400; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif">
            Workout Lab
        </h1>

        <div class=login-box>
            <div class="login" style="color: rgb(0, 0, 0)">

                <form method="post" action="@routes.WorkoutController.validate">
                    @helper.CSRF.formField
                    <h3>Login</h3>
                    Username: <input type="text" name="username" id="username_login"></input>
                    Password: <input type="password" name="password" id="password_login"></input>
                    <input type="submit"></input>
                </form>


                <form method="post" action="@routes.WorkoutController.createUser">
                    @helper.CSRF.formField
                    <h3>Create User</h3>
                    Username: <input type="text" name="username" id="username_create"></input>
                    Password: <input type="password" name="password" id="password_create"></input>
                    <input type="submit"></input>
                </form>

            </div>
        </div>
            <br><br>
            <br><br>
            <br><br>
            <br><br>
            <br><br>
            <br><br>
    </section>
}