@* myVideos Template File *@
@(workoutNames: Seq[String],workoutUrls: Seq[String], workoutEmojis: Seq[String])

@main("myVideos") {

<head>
    <link rel="stylesheet" type="text/css" href=".../../public/stylesheets/main.css" />
</head>

<section class="hero is-primary is-bold is-fullheight">
    <div class="top-left">
        <a class="button1" href="@routes.WorkoutController.login">Log Out</a>
    </div>
    <div class="hero-body">
        <div class="container has text-centered">
            <h1 class="text-font"
                style="color: white; margin-bottom: 10px ;font-size: 100px; font-weight: 400; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
                Workout Lab
            </h1>
            <ul>
                <li><a href="@routes.WorkoutController.home"> HOME </a></li>
                <li><a href="@routes.WorkoutPage.search"> WORKOUT SEARCH </a></li>
                <li><a class="active" href="@routes.WorkoutController.myVideos"> MY WORKOUTS </a></li>
                <li><a href="@routes.WorkoutController.userprofile"> USER PROFILE </a></li>
            </ul>
        </div>
    </div>
    <div class="shadow">
        <p class="shift-left">Edit Favorites</p>
        <h2>My Workouts</h2>
        @if(workoutNames.isEmpty) {
        } else {
            @for((name, url) <- (workoutNames, workoutUrls).zipped) {
                <div>
                    <a href="@url">
                        <img src="@url.replace("https://www.youtube.com/watch?v=", "https://img.youtube.com/vi/")/0.jpg" alt="@name thumbnail">
                    </a>
                    <h3>@name</h3>
                </div>
            }
        }


        <table>
            @if(workoutNames == List()) {
                <row>None</row>
            }else {
                @for((url, i) <- workoutUrls.zipWithIndex) {
                    <a class="button3" href="@url">@workoutEmojis(i)</a>
                    <h3>@workoutNames(i)</h3>
                    <br>
                }
            }
        </table>
  
        <br>
    </div>
    

   
</section>

}