@* profile Template File *@
@()

@main("profile") {
<head>
    <link rel="stylesheet" type="text/css" href="../../public/stylesheets/main.css" />
</head>

<section class="hero is-primary is-bold is-fullheight">
    <div class="top-left">
        <a class="button1" href="@routes.WorkoutPage.login">Log Out</a>
    </div>
    <div class="hero-body">
        <div class="container has text-centered">
            <h1 class="text-font"
                style="color: white; margin-bottom: 10px ;font-size: 100px; font-weight: 400; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
                Workout Lab
            </h1>
            <ul>
                <li><a href="@routes.WorkoutPage.home"> HOME </a></li>
                <li><a href="@routes.WorkoutPage.search"> WORKOUT SEARCH </a></li>
                <li><a href="@routes.WorkoutPage.myVideos"> MY WORKOUTS </a></li>
                <li><a class="active" href="@routes.WorkoutPage.profile"> USER PROFILE </a></li>
            </ul>
        </div>
    </div>
    <div class=login-box>
        <h2>Modify Profile</h2>
        <div class="login" style="color: rgb(0, 0, 0)">
            <form id="login" #userlogin = "ngForm" (ngSubmit) = "checkLogin(userlogin.value)">
                <br>
                <label style="font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif"><b>First Name</b>
                </label>
                <input type="text" name="firstname" id="Fname" placeholder="Mary" ngModel>
                <br><br>
                <label style="font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif"><b>Last Name</b>
                </label>
                <input type="text" name="lastname" id="Lname" placeholder="Phillips" ngModel>
                <br><br>
                <label style="font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif"><b>Username</b>
                </label>
                <input type="text" name="username" id="Uname" placeholder="mphillip" ngModel>
                <br><br>
                <label class="text-font"><b>Password</b>
                </label>
                    <input type="Password" name="password" id="Pass" placeholder="********" ngModel>
                <br><br>
                <div class = "button"> 
                    <input type="submit" name="log" id="log" value="Save Changes">
                </div>
                <br><br>
            </form>
        </div>
    </div>
    

   
</section>
}