@* search Template File *@

@(workoutNames: Seq[String], workoutUrls: Seq[String])(implicit request: RequestHeader)


@import controllers.routes



@main("Search") {
    <head>
        <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/main.css")" />
    </head>

    <section class="hero is-primary is-bold is-fullheight">
        <div class="top-left">
            <a class="button1" href="@routes.WorkoutController.logout">Log Out</a>
        </div>
        <div class="hero-body">
            <div class="container has text-centered">
                <h1 class="text-font" style="color: white; margin-bottom: 10px; font-size: 100px; font-weight: 400;">
                    Workout Lab
                </h1>
                <ul>
                    <li><a href="@routes.WorkoutController.home"> HOME </a></li>
                    <li><a class="active" href="@routes.WorkoutPage.search"> WORKOUT SEARCH </a></li>
                    <li><a href="@routes.WorkoutController.myVideos"> MY WORKOUTS </a></li>
                    <li><a href="@routes.WorkoutController.userprofile"> USER PROFILE </a></li>
                </ul>
                
                <form action="@routes.WorkoutPage.search" method="GET">
                    <input type="text" name="searchInput" placeholder="Search workouts...">
                    <button type="submit">Search</button>
                </form>
                
                <div class="shadow">
                    <h2 class="shift-left">All Videos</h2>
                    @if(workoutNames.isEmpty) {
                        <p>No workouts found.</p>
                    } else {
                        @for((name, url) <- (workoutNames, workoutUrls).zipped) {
                            <div>
                                <a href="@url">
                                    <img src="@url.replace("https://www.youtube.com/watch?v=", "https://img.youtube.com/vi/")/0.jpg" alt="@name thumbnail">
                                    <form method="post" action="@routes.WorkoutController.favoriteWorkout">
                                    @helper.CSRF.formField
                                    <input type="hidden" value="@name" name="workoutInput"></input>
                                    <input type="submit" value="Favorite ❤️"></input>
                                    </form>
                                </a>
                                <h3>@name</h3>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </section>
}
